name: Build & Deploy Maven Artifact

on:
  workflow_call:

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17
          server-id: cloudsmith
          server-username: CLOUDSMITH_USERNAME
          server-password: CLOUDSMITH_API_KEY

      - name: Deploy to Cloudsmith
        env:
          CLOUDSMITH_USERNAME: token
          CLOUDSMITH_API_KEY: ${{ secrets.CLOUDSMITH_API_KEY }}
        run: |
          mvn clean deploy -B -DskipTests
